.reveal section img {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section .spin {
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

.reveal section a:hover img {
  box-shadow: none;
  filter: drop-shadow(1px 1px 5px #aaa);
  background: none;
  border: none; }

.reveal #introduction {
  top: 70% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }

.reveal #presentation #gde {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }
  .reveal #presentation #gde img {
    width: 15vw; }

.reveal #presentation #opensource .logo-open-source {
  width: 15vw; }

.reveal #presentation #opensource .projects {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }
  .reveal #presentation #opensource .projects img {
    height: 10vh; }

.reveal #istio_origin .istio img {
  max-height: 50%;
  max-width: 50%; }

.reveal #istio_origin .partnership {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .reveal #istio_origin .partnership img {
    max-height: 50%;
    max-width: 25%; }

.reveal #istio_origin .release .twitter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.reveal #istio_origin .release .link {
  font-size: medium; }

.reveal #goal .themes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.reveal #architecture .plane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#footer-left {
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  margin: 16px;
  bottom: 0;
  left: 0; }
